body {
    font-family: 'Roboto Light', sans-serif;
}

header {
    background-color: #18191a;
    color: #e4e6eb;
    min-width: 220px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

h1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: 75px;
    margin: 15px 0;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}
main {
    padding: 15px;
}
main > article {
    padding: 15px;
}

main > article:not(:last-child){
    border-bottom: 1px solid #c3c3c3;
}

footer {
    background-color: #18191a;
    text-align: center;
    padding: 2em 0;
}

footer ul {
    display: inline;
}

footer ul li {
    display: inline;
}