$base-color: #3D5A80;
$highlight-color: #EE6C4D;
$bright-title-color: #f2f8f8;
$background-color: #293241;
$section-color: #98C1D9;

body {
    font-family: 'Roboto Light', sans-serif;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background-color: $background-color;
}

footer,
header {
    background-color: $base-color;
    color: $bright-title-color;
}

header {
    border-bottom-left-radius:50px;
    & > div {
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;

        & > div {
            & > h2 {
                font-size: 50px;
            }
            & > h3 {
                font-size: 30px;
            }
        }
    }
}

h1 {
    font-family: 'Roboto Black', sans-serif;
    font-size: 75px;
    margin: 0.25em 0;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0.25em 0;
}

main {
    padding: 0.75em 0;
}

article {
    margin: 0.75em;
    padding: 0.75em;
    background-color: $section-color;
    border-radius: 5px;

    & > h2 {
        font-size: 20px;
        padding: 0.25em;
        background-color: $highlight-color;
        color: $bright-title-color;
        border-radius: 5px;
    }

    & > section {
        padding: 0 0.75em;
        margin-top: 1em;
    }

    & > section:not(:last-child){
        border-bottom: 0.01em solid $background-color;
    }
}

article,
section {
    & > div,
    & > p {
        margin: 0.75em 0;
    }
}

footer {
    margin-top:auto;
    text-align: center;
    padding: 2em 0;

    & ul {
        display: inline;

        & li {
            display: inline;
        }
    }
}
